@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Vienvenido a series OstroÑete</h1>
    <h4>Toda la informacion de tus series favoritas</h4>
    <div class="Series">
    @foreach(Series serie in ViewBag.ListaSeries){
        <div class="card" style="width: 18rem;">
            <img src=@serie.ImagenSerie class="card-img-top" alt="Porqueeeeeeeeeeeeeeeeeeeeeeee">
            <div class="card-body">
                <h5 class="card-title">@serie.Nombre</h5>
                <a href="#" class="btn btn-primary">Temporadas</a>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ModalActores" onclick="MostrarActores(@serie.IdSerie, '@serie.Nombre')">Actores</button>
                <button type="button" class="btn btn-warning">Mas Info</button>
            </div>
        </div>
    }
    </div>
</body>

<div id="ModalActores" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="NombreSerie">Modal Title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="ListaActores">Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</html>
